{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <title>Inscription Form</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@400;500;600&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
</head>
<body>

<section class="inscription">
    <div class="container">
        <div class="inscription-header">
            <a class="navbar-brand d-flex align-items-center" style="padding-bottom: 30px; margin-left: 50px;" href="#">
                <img src="{% static 'img/stack-of-books.png' %}" alt="Logo Bibliothèque" style="height: 40px; margin-right: 10px;" />
                <p class="mb-0" style="font-size: 1.2rem; font-weight: bold; color: #D4EBF8;">Bibliothèque Atlas</p>
              </a>  
        </div>
        <div class="inscription-contents">
            <form method="POST" action="" class="inscription-form">
                {% csrf_token %}

                <div class="content">
                    <label for="prenom">Prénom</label>
                    <input type="text" name="prenom" placeholder="prenom" required>
                </div>
                <div class="content">
                    <label for="nom">Nom</label>
                    <input type="text" name="nom" placeholder="Nom" required>
                </div>
                <div class="content">
                    <label for="nom_utilisateur">Nom D'Utilisateur</label>
                    <input type="text" name="nom_utilisateur" placeholder="Nom D'Utilisateur" required>
                </div>
                <div class="content">
                    <label for="motdepasse">Mot de passe</label>
                    <input type="password" name="motdepasse" placeholder="Mot de passe" required>
                </div>
                <div class="content">
                    <label for="confirmer_motdepasse">Confirmez le mot de passe</label>
                    <input type="password" name="confirmer_motdepasse" placeholder="Confirmez le mot de passe" required>
                </div>

                <button type="submit" class="btn-inscription"> <ion-icon name="lock-closed-outline"></ion-icon> Inscription</button>
            </form>
            <a href="{% url 'seconnecter_page' %}" class="link-login">Avez-vous un compte ? Connectez-vous !</a>
        </div>
    </div>
</section>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>

{% endblock %}
